@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");

body {
  margin: 0;
  font-family: "Libre Caslon Display", serif;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
}
