/* HEADER */
@import "variables";

.header-wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    -45deg,
    $secondary_color,
    $primary_color,
    $primary_color_02,
    $primary_color_01
  );
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: backgroundTransition 8s ease-in-out infinite;
}
