@import "variables";

.social-media {
  margin-top: 1rem;
  display: flex;

  & a {
    text-decoration: none;
    color: $color_white;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid $color_white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
  }

  & a:hover {
    color: #2e1c2b;
    background-color: $color_white;
  }
}
