// COLOR PALETTE
$primary_color: #4b1048;
$primary_color_01: #893168;
$primary_color_02: #9c8198;
$secondary_color: #504444;

// CARD FONT COLOR
$card_font_color: rgb(109, 109, 109);

// GENERIC COLOR
$color_white: #fff;
$color_black: #000;
